
<div class="fromTheTop">
<p></p>
</div>


<div class="mb-3" class="container-lg" class="center">
<% etfWeeklies.forEach(ETF => { %>
    <form class="center" method="POST" action="/ETFs/<%=ETF.etfDataId%>/?_method=PUT">
        <input type="text" name="ticker" class="sm-box" value="<%= ETF.ticker %>">
        <input type="text" name="lowEnd" class="sm-box" value="<%= ETF.lowEnd %>">
        <input type="text" name="highEnd" class="sm-box" value="<%= ETF.highEnd %>">
        <input type="text" name="currentPrice" class="sm-box" value="<%= ETF.currentPrice %>">
        <input type="text" name="trend" class="sm-box"value="<%= ETF.trend %>">
        <input type="text" name="ratio" class="sm-box" data-color="<%= ETF.ratio %>" value="<%= ETF.ratio %>">
    </form>
<% }) %>
</div>
<div class="center-button">
<form method="GET" class="btn btn-primary" action="/etfs/new">
    <label>Create a new ETF to track</label>
    <p></p>
    <input type="submit">
</form>

</div>

