

<% etfWeeklies.forEach(ETF => { %>
    <form method="POST" action="/ETFs/<%=ETF.etfDataId%>/?_method=PUT">
        <input type="text" name="ticker" value="<%= ETF.ticker %>">
        <input type="text" name="lowEnd" value="<%= ETF.lowEnd %>">
        <input type="text" name="highEnd" value="<%= ETF.highEnd %>">
        <input type="text" name="currentPrice" value="<%= ETF.currentPrice %>">
        <input type="text" name="trend" value="<%= ETF.trend %>">
        <input type="text" name="ratio" value="<%= ETF.ratio %>">
    
        <input type="submit">
    </form>
<% }) %>

<form method="GET" action="/new">
    <label for="editETFs">Edit your ETFs</label>
    <input type="submit">
  </form>


<form method="GET" action="/new">
    <label for="updatePrices">Get updated market prices</label>
    <input type="submit">
  </form>